// supermouse.scss
$theme-map: null;
// Theme variables
$themes: (
  default: (
    pointer-color: #750c7e,
    ring-color: #750c7e,
    hover-color: #e52,
  ),
  neon: (
    pointer-color: #00ff00,
    ring-color: #ff00ff,
    hover-color: #00ffff,
  ),
  monochrome: (
    pointer-color: #000000,
    ring-color: #666666,
    hover-color: #ffffff,
  ),
  sunset: (
    pointer-color: #ff7e5f,
    ring-color: #feb47b,
    hover-color: #ff1361,
  ),
  ocean: (
    pointer-color: #1a8fe3,
    ring-color: #56ccf2,
    hover-color: #005c97,
  ),
);

// Mixin for theme styles
@mixin themed() {
  @each $theme, $map in $themes {
    .supermouse-theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      & {
        @content;
      }
      $theme-map: null !global;
    }
  }
}

// Global cursor settings
html,
body,
a,
iframe,
* {
  cursor: none !important;
}

body .supermouse-cursor {
  opacity: 1;
  transition: opacity 600ms ease;
}

/* Supermouse.scss */

.supermouse-cursor__dot,
.supermouse-cursor__ring {
  transition: width 0.2s ease, height 0.2s ease, transform 0.2s ease;
}


// Base styles
.supermouse-cursor {
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &__dot {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box; // For testing purposes
    margin: 0;
    padding: 0;
    z-index: 101;
    @include themed() {
      background-color: map-get($theme-map, pointer-color);
    }
  }

  &__ring {
    position: fixed;
    border: 1px solid;
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    box-sizing: border-box; // For testing purposes
    margin: 0;
    padding: 0;
    transition:
      border 0.5s,
      transform 800ms;
    @include themed() {
      border-color: map-get($theme-map, ring-color);
    }
  }
}
// Hover styles
.supermouse-cursor__ring:hover {
  @include themed() {
    border-color: map-get($theme-map, hover-color);
    transform: scale(1.5);
  }
}
